{% extends 'base.html.twig' %}

{% block title %} Toutes les recettes {% endblock %}
{% block body %}
    <ul>
        <li>
            <a href="{{ url('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}"> Pâte bolognaise</a>
        </li>
    </ul>
{% endblock %}
